*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --negro:#000;
    --gris:#F5F5F5;
}

.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to bottom,#e9e6e6 10%,transparent);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.container .container__main{
    width: 90%;
    height: 70%;
}

.container .container__main .container__options{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    perspective: 800px;
}

.container .container__main .container__options .container__option-a{
    width:30%;
    height:80%;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #a0a2a2;
    transform-style: preserve-3d;
    color:#272727;
    position: relative;
}

.container .container__main .container__options .container__option-a::before{
    content: " ";
    position:absolute;
    width: 0%;
    height: 0%;
    background-color: rgba(20, 163, 199, 0.194);
    border-radius: 100%;
    left: 50%;
    top:50%;
    transition: all .4s;
}

.container .container__main .container__options .container__option-a:hover::before{
    content: " ";
    position:absolute;
    width: 70%;
    height: 70%;
    background-color: rgba(20, 163, 199, 0.57);
    border-radius: 100%;
    left: 15%;
    top:15%;
}

.container .container__main .container__options .container__option-a.container__option-a--transform-left{
    transform: rotateY(50deg);
}

.container .container__main .container__options .container__option-a.container__option-a--transform-z{
    transform: translateZ(-200px);
}

.container .container__main .container__options .container__option-a.container__option-a--transform-right{
    transform: rotateY(-50deg);
}

.container .container__main .container__options .container__option-a .container__option{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.container .container__main .container__options .container__option-a .container__option .container__text{
    position: relative;
    z-index: 3;
}

/* NewCosa.php */

.container .container__form{
    width:60%;
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.container__form .container__form-h3{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 2rem;
    color:#e9e6e6;
    text-shadow: 0px 0px 3px #000000;
}

.container .container__form .form{
    width: 50%;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px;
    border-radius:8px;
    border: solid 1px #a0a2a2;
}


.container .container__form .form .form__group{
    width: 100%;
    height: 23%;
}

.container .container__form .form .form__group .form__tags{
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
    overflow: auto;
}

.container .container__form .form .form__group .form__tags .form__tag{
    width: auto;
    display: inline-block;
    height: auto;
    border-radius: 8px;
    border: solid 1px #a0a2a2;
    padding: 5px 0px;
}

.container .container__form .form .form__group .form__tags .form__tag .form__tag-label{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 5px 8px;
    transition: background-color .3s;
    cursor: pointer;
}

.container .container__form .form .form__group .form__tags .form__tag .form__tag-check{
    display: none;
}

.container .container__form .form .form__group .form__tags .form__tag .form__tag-check:checked ~ .form__tag-label{
    background-color: #b4b1b1;
    color:#fff;
}

.container .container__form .form .form__group.form__group--border{
    border: solid 1px #a0a2a2;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container .container__form .form .form__group.form__group-input{
    height: 14%;
}

.container .container__form .form .form__group .form__label{
    display: block;
    padding:2px 5px;
    color:#625f5f;
}

.container .container__form .form .form__group .form__input{
    width: 100%;
    height: 55%;
    border-radius: 5px;
    outline: none;
    border: solid 1px #a0a2a2;
    background: transparent;
    margin-top: 5px;
    padding-left:10px;
}

.container .container__form .form .form__group .form__input.form__input--width{
    width: 20%;
    margin-left: 5px;
}

.container .container__form .form .form__group .form__input:focus{
    box-shadow: 0px 0px 1px 1px #f6f6f6,0px 0px 5px 3px #7390e6,
    0px 0px 1px 4px #5a7ce2;
}

.container .container__form .form .form__group .form__textarea{
    width: 100%;
    height: 70%;
    outline: none;
    border-radius: 5px;
    border: solid 1px #a0a2a2;
    background: transparent;
    padding-left: 5px;
    padding-top: 5px;
    resize:none;
}

.container .container__form .form .form__group .form__textarea:focus{
    margin-top:5px;
    box-shadow: 0px 0px 1px 1px #f6f6f6,0px 0px 5px 3px #7390e6,
    0px 0px 1px 4px #5a7ce2;
}

.container .container__form .form .form__buttons{
    height: 8%;
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container .container__form .form .form__buttons .form__a{
    display: inline-block;
    height:100%;
    width:20%;
    text-decoration: none;
}
.container .container__form .form .form__buttons .form__button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(227, 23, 23);
    color:#fff;
    text-align: center;
    cursor: pointer;
    transition:background-color .2s ;
}



.container .container__form .form .form__buttons .form__button.form__button--border-left{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #1f71ff;
}


.container .container__form .form .form__buttons .form__button.form__button--border-right{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #36ca15;

}

.container .container__form .form .form__buttons .form__button.form__button--background{
    background-color:rgb(190, 197, 46);
}

.container .container__form .form .form__buttons .form__button:hover{
    background-color: #b4b1b1;
}


/* list.php */

.container .tables{
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-start;
    overflow: auto;
}

.container .tables .filter{
    margin: 30px 0px;
    width: 30%;
    height: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}

.container .tables .filter .filter__input{
    width: 50%;
    height: 80%;
    border-radius: 5px;
    outline: none;
    border: solid 1px #a0a2a2;
    background: transparent;
    margin-left: 5px;
    padding-left:10px;
}

.container .tables .filter .filter__button{
    border-style: none;
    background-color: #1ea986;
    padding: 6px 6px;
    text-align: center;
    border-radius: 5px;
    color:#fff;
    margin-left: 10px;
    cursor: pointer;
}

.container .tables .filter .filter__input:focus{
    box-shadow: 0px 0px 1px 1px #f6f6f6,0px 0px 5px 3px #7390e6,
    0px 0px 1px 4px #5a7ce2;
}

.container .tables .tables_buttons{
    width: 15%;
    height: 5%;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container .tables .tables_buttons .tables__buttons-a{
    text-decoration: none;
    display: inline-block;
    width: 40%;
    height: 100%;
    
}


.container .tables .tables_buttons .tables__buttons-a .tables__button{
    width: 100%;
    height: 100%;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color:rgb(150, 3, 164);
    color:#fff;
    transition:background-color .2s;
    cursor: pointer;
}

.container .tables .tables_buttons .tables__buttons-a .tables__button:hover{
    background-color: #b4b1b1;
}

.container .tables .tables_buttons .tables__buttons-a .tables__button.tables__button--border-radius{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #1f71ff;
}

.container .tables .table{
    width: 100%;
    height: auto;
    border: solid 1px #a0a2a2;
}

.container .tables .table .table__tr{
    height: 50px;
}

.container .tables .table .table__tr .table__th{
    width: auto;
    text-align: center;
    border-bottom: solid 1px #a0a2a2;
}

.container .tables .table .table__tr .table__td{
    text-align: center;
    
}

.container .tables .table .table__tr .table__td.table__td--display{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container .tables .table .table__tr .table__td.table__td--display .table__tags{
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 4px;
    border-radius: 10px;
    padding: 2px 4px;
    border: 1px solid #000;
}

.container .tables .table .table__tr .table__td .table__a{
    display: inline-block;
    width: 70px;
    margin-left: 10px;
    text-decoration: none;
  
}

.container .tables .table .table__tr .table__td .table__a .table__button{
    width: 100%;
    height: 100%;
    border-style: none;
    background-color: #36ca15;
    padding: 6px 6px;
    text-align: center;
    border-radius: 5px;
    color:#fff;
}

.container .tables .table .table__tr .table__td .table__a .table__button.table__button--background{
    background-color: rgb(227, 23, 23);
}


/* tags */


